# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp

# Project files
.ropeproject/
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build
dist
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST
DEBUG
PKG-INFO
SOURCES.txt
dependency_links.txt
entry_points.txt
requires.txt
top_level.txt
.svn

# Temporary files
\#*\#

# LaTeX files
*.aux
*.log
*.out
*.bst
*.bbl


